{% extends "base.html" %}
{% block title %}Menu{% endblock %}
{% block content %}
<h1 align="center">Menu</h1>
<div class="container">
    <div class="row">
        <div class="col-8">
            <p style="text-align: center;">{{menu['Monday']['date']|string+' - '+menu['Sunday']['date']|string}}</p>
            <ul class="list-group list-group-flush" id="menu">
            {% for day in menu %}
            
            <li class="list-group-item">
                {{day}}

                <ul class="list-group list-group-flush">
                {% for item in menu[day]['foods'] %}
                    <li class="list-group-item">
                        {{item[1]}}
                        <button type="button" class="close" onClick="deleteMenuFood({{ menu[day]['menu_id']}} , {{item[0]}} )">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </li>
                {% endfor %}
                <li class="list-group-item"> 
                    <input type="radio" name="weekday" value="{{menu[day]['date']}}">

                </li>
                </ul>
            </li>
            {% endfor %}
            </ul>
            <div style="text-align: center;">
                <button type="button" class="close" onClick="changeToPage({{  '"'+menu['Monday']['nextweek']|string+'"'  }})">
                    <span aria-hidden="true">&gt;</span>
                </button>
                <button type="button" class="close" onClick="changeToPage({{  '"'+menu['Monday']['beforeweek']|string+'"'  }})">
                    <span aria-hidden="true">&lt;</span>
                </button>
            </div>
        </div>
        <div class="col-4">
            <div style="position: fixed;">
                <div>
                    {% for cat in categories %}
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" id="{{cat}}" autocomplete="off" value="{{cat}}" name="categoryfilter"
                        {% if categories[cat]['checked'] == 1 %} checked  {% endif %}>
                        <label class="form-check-label" for="{{cat}}">{{ categories[cat]['name'] }}</label>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <div>
                    <ul class="list-group list-group-flush" id="foods">
                        {% for food in foodlist %}
                        <li class="list-group-item">
                            <h6>{{foodlist[food]['name']}}</h6>
                            <div>
                                {% for category in foodlist[food]['categories']%}
                                    {{category[1]}}
                                {% endfor %}
                                <button type="button" class="close" onClick="addToMenu({{ food }})">
                                    <span aria-hidden="true">&radic;</span>
                                </button>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}